<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JK_P_Gun__Hurt_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1230},{480,404}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{480,404}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{488,406}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{488,406}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{494,408}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{494,408}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,408}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{500,408}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{496,408}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{496,408}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,412},{492,408}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{492,408}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,822},{486,406}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{486,406}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{480,404}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{480,404}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{480,404}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{480,404}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
            <key>JK_P_Gun__Hurt_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{480,404}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{480,404}}</string>
                <key>sourceSize</key>
                <string>{512,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hurt.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca6787b872eae1398a44dbcc03e108c$</string>
            <key>textureFileName</key>
            <string>Hurt.png</string>
        </dict>
    </dict>
</plist>
