<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JK_P_Gun__Idle_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,814},{481,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{481,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{481,404}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{481,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,408},{479,404}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{479,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{479,404}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{479,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{481,404}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{481,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,404}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{481,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1626},{483,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{483,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1220},{485,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{485,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{483,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{483,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
            <key>JK_P_Gun__Idle_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{483,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{483,404}}</string>
                <key>sourceSize</key>
                <string>{487,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8ba732dacef02aa209d97c03fee1ad1$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
