<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JK_P_Sword__Idle_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,794},{387,404}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{387,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1589},{385,404}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{385,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1566},{381,404}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{381,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1183},{381,404}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{381,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{385,404}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{385,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{387,404}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{387,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,399},{393,404}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{393,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,404}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{397,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{395,404}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{395,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
            <key>JK_P_Sword__Idle_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{391,404}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{391,404}}</string>
                <key>sourceSize</key>
                <string>{419,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_idle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c8379cb1e6b974c7fc65f121f668d6$</string>
            <key>textureFileName</key>
            <string>hero_idle.png</string>
        </dict>
    </dict>
</plist>
