<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JK_P_Sword__Run_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{391,414}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{391,414}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{339,414}}</string>
                <key>offset</key>
                <string>{-53,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{339,414}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{333,414}}</string>
                <key>offset</key>
                <string>{-55,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{333,414}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,417},{351,420}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{351,420}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,770},{369,418}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{369,418}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1141},{379,414}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{379,414}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1555},{411,412}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{411,412}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,414}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{425,414}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{413,420}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{413,420}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
            <key>JK_P_Sword__Run_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{401,418}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{401,418}}</string>
                <key>sourceSize</key>
                <string>{465,442}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroRun.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8666baee817130c18145b741d64797$</string>
            <key>textureFileName</key>
            <string>HeroRun.png</string>
        </dict>
    </dict>
</plist>
