<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,249},{23,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,4}}</string>
                <key>sourceSize</key>
                <string>{23,4}</string>
            </dict>
            <key>slice02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,181},{33,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,6}}</string>
                <key>sourceSize</key>
                <string>{33,6}</string>
            </dict>
            <key>slice03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,133},{46,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,6}}</string>
                <key>sourceSize</key>
                <string>{46,6}</string>
            </dict>
            <key>slice04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,73},{58,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,6}}</string>
                <key>sourceSize</key>
                <string>{58,6}</string>
            </dict>
            <key>slice05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{69,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,6}}</string>
                <key>sourceSize</key>
                <string>{69,6}</string>
            </dict>
            <key>slice06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,193},{69,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>slice07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,138},{69,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,25}}</string>
                <key>sourceSize</key>
                <string>{69,25}</string>
            </dict>
            <key>slice08_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,216},{69,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,31}}</string>
                <key>sourceSize</key>
                <string>{69,31}</string>
            </dict>
            <key>slice09_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,216},{69,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,38}}</string>
                <key>sourceSize</key>
                <string>{69,38}</string>
            </dict>
            <key>slice10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,139},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>slice11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{73,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,48}}</string>
                <key>sourceSize</key>
                <string>{73,48}</string>
            </dict>
            <key>slice12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,134},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>slice13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,70},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>slice14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>slice15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,70},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>slice16_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>slice17_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>slice18_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monsterOne.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:629ccca16b5aa18030bc9fd56ae673b7$</string>
            <key>textureFileName</key>
            <string>monsterOne.png</string>
        </dict>
    </dict>
</plist>
