<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JK_P_Gun__Attack_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1232},{481,404}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{481,404}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,414},{493,408}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{493,408}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,410}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{501,410}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{499,410}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{499,410}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{495,408}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{495,408}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{491,408}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{491,408}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,824},{487,406}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{487,406}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1232},{481,404}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{481,404}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1232},{481,404}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{481,404}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
            <key>JK_P_Gun__Attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1232},{481,404}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{481,404}}</string>
                <key>sourceSize</key>
                <string>{521,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Attack.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5005e0a92065c481144591dcafa04ddb$</string>
            <key>textureFileName</key>
            <string>Attack.png</string>
        </dict>
    </dict>
</plist>
